<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CheckMyBlock.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B28596F1D26B5228857AF830174877ACE510ECD8</string>
				<key>dateExpires</key>
				<string>23/7/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>49DLYV8V6H.org.reactjs.native.example.checkMyBlock</string>
				<key>com.apple.developer.team-identifier</key>
				<string>49DLYV8V6H</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>49DLYV8V6H.org.reactjs.native.example.checkMyBlock</string>
				</array>
			</dict>
			<key>name</key>
			<string>CheckMyBlock.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c94317a1-ea1a-442f-b55c-07b0fefb05f8</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>49DLYV8V6H</string>
				<key>name</key>
				<string>RESCON Builders Pty Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
